@model IEnumerable<HospiceNiagara.Models.DeathNotice>

@{
    ViewBag.Title = "Death Notices";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Scripts.Render("~/bundles/jqueryval")
}
<div id="indexList">
    <div class="row">
        @Html.ActionLink("Back To Announcements", "Index", "Announcements")
    </div>
    <h2>In Memoriam</h2>
    <br />
    @if (User.IsInRole("Administrator"))
    { 
        <p>
            @Ajax.ActionLink("Add new...", "Create", new { showModal = true }, new AjaxOptions { UpdateTargetId = "showModal", InsertionMode = InsertionMode.Replace, HttpMethod = "Get" }, new { @class = "showModal" })
        </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
            @if (User.IsInRole("Administrator"))
            { 
                <th></th>
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    <a target="_blank" href="@item.URL">@item.URL</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiryDate)
                </td>
                @if (User.IsInRole("Administrator"))
                { 
                    <td>
                        @Ajax.ActionLink("Edit", "Edit", new { id = item.ID }, new AjaxOptions { UpdateTargetId = "showModal", InsertionMode = InsertionMode.Replace, HttpMethod = "Get" }, new { @class = "showModal" }) |
                        @Ajax.ActionLink("Delete", "Delete", new { id = item.ID }, new AjaxOptions { UpdateTargetId = "showModal", InsertionMode = InsertionMode.Replace, HttpMethod = "Get" }, new { @class = "showModal" })
                    </td>
                }
            </tr>
        }
    </table>
</div>
<div id="showModal">
</div>
