@model IEnumerable<HospiceNiagara.Models.Resource>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Staff Resources</h3>
    </div>
    @{IEnumerable<HospiceNiagara.Models.ResourcePanel> rP = ((HospiceNiagara.Models.ResourcePanelsCollection)ViewBag.PanelCollection).Panels; }
    @foreach (HospiceNiagara.Models.ResourcePanel panel in rP)
    {
        if (@panel.PanelDomain == "Staff")
        {
            <div class="panel panel-default col-lg-6">
                <div class="panel-heading">
                    <h3 class="panel-title">@panel.PanelCategory</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group text-success">
                        @foreach (HospiceNiagara.Models.ResourcePanelItem item in @panel.PanelItems)
                        {
                            <li class="list-group-item"><label class="col-lg-4">@item.Description</label><span>@Html.ActionLink(@item.FileName, "Download", new { @id = @item.FileID })</span></li>
                        }
                    </ul>
                </div>
            </div>
        }
    }
</div>
<div class="row"></div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Staff Related Links</h1>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a href="http://www.infoanywhere.com" class="list-group-item">InfoAnywhere</a>
                <a href="https://css.hr.ccim.on.ca/HospiceNiagara" class="list-group-item">QHR Net</a>
                <a href="https://portal.microsoftonline.com" class="list-group-item">Office 365 Web Login</a>
                <a href="http://www.greenshield.ca" class="list-group-item">Green Shield (Group Plan Benefits)</a>
                <a href="http://sumac.com/training/" class="list-group-item">Sumac Training</a>
            </div>
        </div>
    </div>
</div>
