@model IEnumerable<HospiceNiagara.Models.Resource>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Volunteer Resources</h3>
    </div>
    @{IEnumerable<HospiceNiagara.Models.ResourcePanel> rP = ((HospiceNiagara.Models.ResourcePanelsCollection)ViewBag.PanelCollection).Panels; }
    @foreach (HospiceNiagara.Models.ResourcePanel panel in rP)
    {
        if(@panel.PanelDomain=="Volunteer")
        { 
        <div class="panel panel-default col-lg-6">
            <div class="panel-heading">
                <h3 class="panel-title">@panel.PanelCategory</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group text-success">
                                        @foreach (HospiceNiagara.Models.ResourcePanelItem item in @panel.PanelItems)
                                        {
                                            <li class="list-group-item"><label class="col-lg-4">@item.Description</label><span>@Html.ActionLink(@item.FileName, "Download", new { @id = @item.FileID })</span></li>
                                        }
                </ul>
        </div>
        </div>
        }
    }
</div>
