@model HospiceNiagara.Models.Resource

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Resources", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Resource</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FileDesc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FileDesc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FileDesc, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
                <label class="control-label col-md-2" for="ddlDoms">Resource Domain</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model=>model.ResourceCategoryID,(SelectList)ViewBag.ResourceCategoryID)
                </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.ResourceCategoryID, "Resource Category", htmlAttributes: new { @class = "control-label col-md-2",@id="ddlResCats" })
            <div class="col-md-10">
                @Html.DropDownList(null,null,"Select a resource category", htmlAttributes: new { @class = "form-control",@readonly=true,@id="ddlResCats"})
                @Html.ValidationMessageFor(model => model.ResourceCategoryID, "", new { @class = "text-danger" })
            </div>
        </div>*@
        @*<div class="form-group">
            @Html.LabelFor(model => model.ResourceSubCategoryID, "ResourceTypeID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ResourceSubCategoryID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ResourceSubCategoryID, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="form-group">
            <label class="control-label col-md-2" for="FileUpload1">Attach File:</label>
            <input class="form-control" type="file" name="FileUpload1" /><br />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
