@model IEnumerable<HospiceNiagara.Models.Contact>

@{
    ViewBag.Title = "Index";
}

<h2>Contacts</h2>
<div id="pop-up">
    
</div>
@using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>Select by Team: </td>
                <td>@Html.DropDownList("TeamDomainID", null, "All Teams", htmlAttributes: new { @class = "form-control" })</td>
                <td><input type="submit" value="Filter" class="btn btn-default" /> @Html.ActionLink("Clear", "Index")</td>
                
</tr>
        </table>
    @Html.ActionLink("To XLS", "Download")
    }
        @if (User.IsInRole("Admin"))
        { 
         <p>
            @Html.ActionLink("Create New","Create")
         </p>
        
    <p>
    
    @Html.ActionLink("Create New Position", "Create","JobDescriptions",null,null)
</p>
        }
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TeamDomain.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobDescription.JobName)
               </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>

            @foreach (var item in ViewBag.Regular )
            {
                <tr>
                    <td>
                        @item.TeamDomain.Description
                    </td>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        <a href="/JobDescriptions/ShowDesc/@item.JobDescriptionID" class="hover">@item.JobDescription.JobName</a>
                    </td>
                    <td>
                        @item.Phone
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                           @Html.ActionLink("Edit", "Edit", new { id = item.ID }) @:|
                           @Html.ActionLink("Delete", "Delete", new { id = item.ID })@:|
                        }
                        
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) 
                        
                    </td>
                </tr>
            }

        </table>

<div id="board">
    @Html.Partial("~/Views/BoardMembers/BoardMemberList.cshtml")
</div>

       
