@model IEnumerable<HospiceNiagara.Models.JobDescription>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="pop-up" hidden="hidden">
    <h2>Testing</h2>
</div>
@if (User.IsInRole("Administrator"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="/JobDescriptions/ShowDesc/@item.ID" class="hover">@item.JobName</a> 
        </td>
        <td>
            @if (User.IsInRole("Administrator"))
            {
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }); @:|
            }
            
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @if (User.IsInRole("Administrator"))
            {
                @Html.ActionLink("Delete", "Delete", new { id=item.ID }) @:|
            }
            
            @Html.ActionLink("Show", "ShowDesc", new { id=item.ID})
        </td>
    </tr>
}

</table>
