@model IEnumerable<HospiceNiagara.Models.JobDescription>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="pop-up">
    <h2>Testing</h2>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="/JobDescriptions/ShowDesc/@item.ID" class="hover">@item.JobName</a> 
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }) |
            @Html.ActionLink("Show", "ShowDesc", new { id=item.ID})
        </td>
    </tr>
}

</table>
