@model IEnumerable<HospiceNiagara.Models.DeathNotice>
<table class="table">
    @if (ViewBag.DNList != null)
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>

        foreach (HospiceNiagara.Models.DeathNotice item in ViewBag.DNList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Ajax.ActionLink("Edit", "EditDNotice", new { id = item.ID }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "Get" }, htmlAttributes: new { @data_toggle = "modal", @data_target = "#modalEditDN" }) |
                    @*@Ajax.ActionLink("Delete", "Delete","DeathNotice", new { id = item.ID }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "Get" }, htmlAttributes: new { @data_toggle = "modal", @data_target = "#modalDeleteDN" })*@
                </td>
            </tr>
        }
    }
</table>
    
