@model IEnumerable<HospiceNiagara.Models.Schedule>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schedules</h2>
@if (User.IsInRole("Administrator"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@Html.DropDownList("ResidentialDD", null, "Select a Month", htmlAttributes: new { @class = "sel-sched" })
@Html.DropDownList("PetDD", null, "Select a Month", htmlAttributes: new { @class = "sel-sched" })
@Html.DropDownList("DayDD", null, "Select a Month", htmlAttributes: new { @class = "sel-sched" })
@Html.DropDownList("EventDD",null, "Select a Month", htmlAttributes: new { @class = "sel-sched" })<br />
<a id="showLink">Show/Hide All</a>
<table class="table" id="showTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Resource.FileDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (!User.IsInRole("Administrator") & !item.IsActiveSchedule)
        {
            continue;
        }
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Resource.FileDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
           
            <td>
                @if (User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }); @:|
                }
                
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @if (User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })@:|
                }

                @*@Html.ActionLink("Show", "ShowSched", new { id = item.ResourceID })*@
                @Ajax.ActionLink("Show", "ShowSched", new { id = item.Resource.FileStoreID }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "Get", UpdateTargetId = "someDiv" }, new {@class="show"})
                
            </td>
        </tr>
    }
</table>
<div id="someDiv">
   
</div>


@*@if (ViewBag.Mime == "image/jpeg")
    {
    <div>
        <img src="data:@ViewBag.Mime;base64,@ViewBag.FileBits" alt="@ViewBag.Name" width="600" height="400" />
    </div>
    }
    else
    {
    <div>no skedoole</div>
    }*@



