@model HospiceNiagara.Models.Announcement
        @*@using (Ajax.BeginForm("Edit", "Announcements", new AjaxOptions { UpdateTargetId = "_AnnounceList", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }))*@

<div class="modal fade" id="modalEditAnmt" tabindex="-1" role="dialog" aria-labelledby="myModalEditAnmt" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Announcement</h4>
            </div>
            <div class="modal-body" id="editAnn">
                @Html.BeginForm("Edit", "Announcements", FormMethod.Post)
                {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.Date)
                @Html.HiddenFor(model => model.ResourceID)
                <div class="form-group">
                    @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(@item => item.Content, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="form-group">
            <input class="form-control" type="file" name="FileUpload1" /><br />
        </div>*@
                <div class="modal-footer">
                    @Ajax.ActionLink("Save", "Edit", new AjaxOptions { UpdateTargetId = "_AnnounceList", HttpMethod = "Post" }) |
                    <button type="submit" class="btn btn-default">Save Changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->