@model HospiceNiagara.Models.Announcement
@*@using (Ajax.BeginForm("Edit", "Announcements", new AjaxOptions { UpdateTargetId = "_AnnounceList", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }))*@

<style>
    div {
        color: black;
    }
</style>

@Scripts.Render("~/bundles/jqueryval")
<div class="modal fade" id="modalEditAnmt" tabindex="-1" role="dialog" aria-labelledby="myModalEditAnmt" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Announcement</h4>
            </div>
            <div class="modal-body">
            @using (Ajax.BeginForm(null, null, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace }, new { enctype = "multipart/form-data"}))
            {
                @*@Html.AntiForgeryToken()*@
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.Date)
                @Html.HiddenFor(model => model.ResourceID)
                <div class="form-group row">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control col-md-10 col-md-push-1" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
                <hr />
                <h4><b>Attach a resource:</b></h4>
                <br />
                <div class="form-group row">
                    @Html.LabelFor(model => model.Resource.FileDesc, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Resource.FileDesc, new { htmlAttributes = new { @class = "form-control col-md-10 col-md-push-1", @placeholder = "Enter resource description" } })
                    @Html.ValidationMessageFor(model => model.Resource.FileDesc, "", new { @class = "text-danger" })
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Resource.ResourceCategoryID, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DropDownList("ResourceCategoryID", (SelectList)ViewBag.ResourceCategories, htmlAttributes: new { @class = "form-control col-md-10 col-md-push-1" })
                </div>
                <div class="form-group row">
                    @Html.Label("Attached File", htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.ActionLink(Model.Resource.FileStore.FileName, "Download", new { id = Model.Resource.FileStoreID }, htmlAttributes: new { @class = "col-md-10 col-md-push-1" })
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.ExpiryDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.ExpiryDate, new { htmlAttributes = new { @class = "form-control col-md-10 col-md-push-1" } })
                    @Html.ValidationMessageFor(model => model.ExpiryDate, "", new { @class = "text-danger" })
                </div>
                <div class="form-group row">
                        @Html.LabelFor(model => model.PostDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 col-md-push-1">
                            @Html.DisplayFor(model => model.PostDate)
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            }
            </div>
                    
            
        </div>
    </div><!-- /.modal-content -->
</div>
